<template>
    <div id="category-wrapper">
        <modal title="Testing this" body="Hello there" ref="authorModal"></modal>
        <div id="category-container" v-if="category">

            <div id="category-breadcrumbs">
                <ul>
                    <li class="active">
                        <router-link to="/">All Categories</router-link>
                    </li>
                    <li>
                        {{ category.title }}
                    </li>
                </ul>
            </div>

            <div id="category-main">
                <category-card-detail :data="category"></category-card-detail>
            </div>

            <ul id="article-list">
                <li v-for="article in articles" v-bind:key="'article' + article.id">
                    <article-item 
                        :data="article"
                        :onClick="onClickArticle">
                    </article-item>
                </li>
            </ul>

        </div>


        <div id="other-categories">
            <h3>Other categories</h3>
            <div id="other-category-navs">
                <div class="nav-wrapper">
                    <nav @click="onNavLeft" class="move-left"><i class="fa fa-chevron-left"></i></nav>
                    <nav @click="onNavRight" class="move-right"><i class="fa fa-chevron-right"></i></nav>
                </div>
                
                <ul>
                    <li v-for="category in categories" v-bind:key="'cat' + category.id" :class="category.enabled ? 'active-item' : ''">
                        <router-link v-if="category.enabled" :to="'/category/' + category.id">
                            <category-card v-if="category.enabled" :data="category"></category-card>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';

    #category-wrapper {
        background-color: $bg-light;
        margin: 40px 0 40px;
        
        #category-container {
            display: grid;
            padding: 1.5rem 6rem;
            grid-template-columns: repeat(12, 1fr);
        
        
            #category-breadcrumbs {
                margin: 20px 0;
                grid-column: span 12;
                color: $text-gray;
                ul {
                    padding: 0;
                    li {
                        float: left;
                        list-style-type: none;
                        &.active:after {
                            content: '\f054';
                            width: 10px;
                            color: $text-gray;
                            margin: 0 10px;
                            font-family: 'Font Awesome 5 Free';
                            font-size: 0.8rem;
                        }
                    }
                }
                a.router-link-active {
                    color: $green;
                }
            }
            #category-main { 
                grid-column: span 4;
            }

            #article-list {
                padding: 0 0 0 20px;
                grid-column: span 8;
                margin: 0;
                li {
                    list-style-type: none;
                    margin: 0 0 20px;
                    .article-item:hover {
                        background-color: $bg-light;
                        cursor: pointer;
                    }
                }
            }

        }




         #other-categories {
            grid-column: span 12;
            text-align: center;
            border-top: 1px solid darken($bg-light, 10%);
            padding-top: 20px;

            h3 { font-weight: 900; color: $text-gray; }

            #other-category-navs {
                position: relative;
                align-items: center;
                .move-left, .move-right {
                    position: absolute;
                    border-radius: 50%;
                    background-color: darken($bg-light, 2%);
                    width: 25px;
                    padding: 25px;
                    height: 25px;
                    color: $text-gray;
                    font-size: 1.5rem;
                    margin-top: -50px;
                }

                .move-left:hover, .move-right:hover {
                    cursor: pointer;
                    background-color: darken($bg-light, 10%);
                }

                .move-left {
                    left: 20px;
                }

                .move-right {
                    right: 20px;
                }



                justify-content: center;
                display: flex;
                display: -webkit-flex; /* Safari */
                ul {
                    display: -webkit-flex; /* Safari */
                    display: flex;
                    width: 90%;
                    padding: 0;
                    overflow: hidden;
                    margin-left: 100px;
                    margin-right: 100px;
                    
                    li {
                        list-style-type: none;
                    }
                }
            }

        }

    }

    // on smaller screen from 980px
    @media(max-width: 980px) {
        #category-container {

            #category-main, #article-list {
                grid-column: span 12!important;
                display: flex;
                display: -webkit-flex; /* Safari */
                justify-content: left;
                margin-bottom: 20px;
            }
            #category-main .card-item { width: 100%; }
            #article-list { padding: 0!important; display: block; }
        }

        #other-category-navs {
            > ul > li.active-item {
                width: 100%;
                flex: 0 0 100%;
                justify-content: center;
                display: flex;
            }
        }
    }

    // for smaller screen 500px
    @media(max-width: 500px) {
        #category-container {
            padding: 1.5rem 1.5rem!important;
        }

        #other-category-navs {
            display: block!important;
            .nav-wrapper { height: 60px; display: block; }
            .move-left, .move-right {
                display: inline;
                position: relative!important;
                margin: 0 30px;
                padding: 10px 15px !important;
                line-height: 2;
            }
            ul {
                width: 100%!important;
                margin: 0!important;
            }
        }
    }
</style>

<script>
import ArticleItem from '../components/ArticleItem.vue'
import CategoryCard from '../components/CategoryCard.vue'
import CategoryCardDetail from '../components/CategoryCardDetail.vue'
import Modal from '../components/Modal.vue'
import axios from 'axios'

export default {
    components: {
        ArticleItem,
        CategoryCard,
        CategoryCardDetail,
        Modal
    },
    data: () => {
        return {
            articles: [],
            category: null,
            categories: [],
            slideInterval: null,
            catId: null
        }
    },

    created: function() {
        this.fetchData()
    },

    watch: {
        // call again the method if the route changes
        '$route': 'fetchData'
    },

    methods: {

        fetchData() {
            // get category id
            this.catId = this.$route.params.id
            this.articles = []
            this.category = null
            let self = this

            window.scrollTo(0, 0);
            axios
                .get('http://localhost:9000/api/category/5')
                .then(({ data }) => {
                    console.log('articles : ', data)
                    data.forEach(item => {
                        if (item.status === 'published') {
                            self.articles.push(item)
                        }
                    })
                })

            axios
                .get('http://localhost:9000/api/categories')
                .then(({ data }) => {
                    console.log('categories : ', data)
                    this.categories = data

                    let index = this.categories.findIndex(cat => cat.id == this.catId)

                    if (index >= 0) {
                        this.category = data[index]
                        this.categories.splice(index, 1);
                    } else {
                        console.log('testing this 12')
                    }

                })
        },

        onNavLeft() {
            let content = document.querySelector("#other-category-navs ul");
            this._slide(content, (content.clientWidth - 10), 'left')
        },

        onNavRight() {
            let content = document.querySelector("#other-category-navs ul");
            this._slide(content, (content.clientWidth - 10), 'right')
        },

        onClickArticle(article) {

            axios
                .get('http://localhost:9000/api/author/' + article.authorId)
                .then(({ data }) => {
                    console.log('author is ', data)
                    // show modal for author
                    let message = " - By " + data.name +
                                  "<p>" + article.content + "</p>"
                    this.$refs.authorModal.onShow(article.title, message)
                })
        },


        _slide(content, x, nav) {
            clearInterval(this.slideInterval)
            let totalX = 0
            let throttleX = 20

            if (nav == 'left') {
                throttleX *= -1
                totalX = content.scrollLeft - x
            } else {
                totalX = content.scrollLeft + x
            }

            this.slideInterval = setInterval(() => {
                content.scrollLeft += throttleX
                console.log('totalX', totalX, content.scrollLeft)
                if (
                    content.scrollLeft == 0 || 

                    // nav to right
                    (nav == 'right' && totalX <= content.scrollLeft) ||
                    // nav to left
                    (nav == 'left' && totalX >= content.scrollLeft) ||
                    content.scrollLeft == content.scrollLeftMax
                ) {
                    console.log('total x has reached')
                    clearInterval(this.slideInterval)
                }
            }, 100/1000)
        }
    }
}
</script>