<template>
    <div id="home-wrapper">
        <ul id="category-list">
            <li v-for="category in categories" v-bind:key="'cat' + category.id">
                <router-link :to="'/category/' + category.id">
                    <category-card v-if="category.enabled" :data="category"></category-card>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';
    
    #home-wrapper {
        background-color: $bg-light;
        padding: 1.5rem;
        margin: 40px 0 40px;

        #category-list {
            padding: 0;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;  
            flex-wrap: wrap;
            justify-content: center;
            li {
                list-style-type: none;
                align-self: center;

                .card-item:hover {
                    background-color: darken($bg-light, 2%);
                }
            }
        }
    }
</style>

<script>
import CategoryCard from '../components/CategoryCard.vue'
import axios from 'axios'

export default {
    components: {
        CategoryCard
    },
    data: () => {
        return {
            categories: []
        }
    },

    created: function () {
        axios
            .get('http://localhost:9000/api/categories')
            .then(({ data }) => {
                console.log('testing data : ', data)
                this.categories = data.sort((a, b) => a.order - b.order);

            })
    }
}
</script>