<template>
    <div id="search-wrapper">

        <div v-if="articles.length > 0" id="result">
            <div id="category-breadcrumbs">
                <ul>
                    <li class="active">
                        <router-link to="/">All Categories</router-link>
                    </li>
                    <li>Search results</li>
                </ul>
            </div>

            <div id="result-content">
                <h3>Showing results for "<span class='keyword'>{{ keyword }}</span>"</h3>
                <ul id="result-list">
                    <li v-for="article in articles" v-bind:key="'article' + article.id">
                        <article-item 
                            :data="article"
                            :showContent="true"
                            :onClick="onClickArticle">
                        </article-item>
                    </li>
                </ul>
            </div>
        </div>

        <div v-if="articles.length == 0" id="no-result">
            <img src="/images/empty-search.svg" alt="">
            <h3>No search results</h3>
            <p>Please, try again or <a href="#">Submit a ticket</a></p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';

    #search-wrapper {
        background-color: $bg-light;
        margin: 40px 0 40px;
        text-align: center;
        min-height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        #no-result {
            a { color: $green; }
        }

        #result {
            width: 100%;
            padding: 1.5rem 6rem;

            #category-breadcrumbs {
                margin: 20px 0;
                grid-column: span 12;
                color: $text-gray;
                display: flex;
                ul {
                    padding: 0;
                    li {
                        float: left;
                        list-style-type: none;
                        &.active:after {
                            content: '\f054';
                            width: 10px;
                            color: $text-gray;
                            margin: 0 10px;
                            font-family: 'Font Awesome 5 Free';
                            font-size: 0.8rem;
                        }
                    }
                }
                a.router-link-active {
                    color: $green;
                }
            }

            #result-content {
                h3 { margin-bottom: 30px; }
                .keyword { color: $green; }
            }

            #result-list {
                padding: 0 0 0 20px;
                grid-column: span 8;
                margin: 0;
                text-align: left;
                
                li {
                    list-style-type: none;
                    margin: 0 0 20px;
                    .article-item:hover {
                        background-color: $bg-light;
                        cursor: pointer;
                    }
                }

                .article-item .article-item-icon {
                    align-self: start!important;
                }
            }
        }
    }
</style>

<script>
import axios from 'axios'
import ArticleItem from '../components/ArticleItem.vue'

export default {
    components: {
        ArticleItem
    },

    data: () => {
        return {
            keyword: '',
            articles: []
        }
    },

    created: function() {

        this.searchResults()
    },

    watch: {
        // call again the method if the route changes
        '$route': 'searchResults'
    },

    methods: {
        searchResults: function() {
            this.keyword = this.$route.params.key
            axios
                .get('http://localhost:9000/api/search/' + this.keyword)
                .then(({ data }) => {
                    console.log('data : ', data)
                    this.articles = data
                })
        },
        onClickArticle: function() {}
    }
}
</script>