<template>
    <div v-if="data" class="article-item" @click="() => { onClick(data) }">
        <div class="article-item-icon">
            <span :class="'fa fa-' + data.icon"></span>
        </div>
        <div class="article-item-info">
            <h3>{{ data.title }}</h3>
            <p v-if="!showContent">Updated <span>{{ data.updatedOn | moment("from", "now") }}</span></p>
            <p v-if="showContent">
                {{ data.content | truncate }}
            </p>
        </div>
        <div class="article-item-nav">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';

    .article-item {
        display: -webkit-flex; /* Safari */
		display: flex;
        background-color: $bg-white;
        border: 1px solid darken($bg-light, 10%);
        border-radius: 4px;
        padding: 15px;

        .article-item-icon {
            align-self: center;
            padding: 0 20px;
            font-size: 30px;
            color: $green;
        }
        .article-item-info {
            flex-grow: 1;
            h3 { margin: 0 0 6px; }
        }
        .article-item-nav {
            align-self: center;
            font-size: 30px;
            padding: 0 20px;
            color: $green;
        }

        p { color: $text-gray; margin: 0; }
    }
</style>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: null
        },

        showContent: {
            type: Boolean,  
            default: false
        },

        onClick: {
            type: Function,
            default: () => {
                alert("testing this 2")
            }
        }
    },

    filters: {
        truncate: (text) => {
            return text.length > 150 ? text.slice(0, 150) : text
        }
    }
}
</script>