<template>
    <div v-if="data" class="card-item">
        <img :src="'/images/' + data.icon + '.png'" alt="">
        <h3>{{ data.title }}</h3>

        <p>{{ data.totalArticle }} {{ 'Articles' | pluralized(data.totalArticle) }}</p>
        <small>
            Last update <span>{{ data.updatedOn | moment("from", "now") }}</span>
        </small>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';

    .card-item {
        text-align: center;
        background-color: $bg-white;
        border: 1px solid darken($bg-light, 10%);
        border-radius: 4px;
        margin: 10px;
        width: 300px;
        padding: 20px 0 40px;
        img { width: 100px; }
        p { color: $green; margin: 0; }
        small { color: $text-gray; }
    }
</style>

<script>

export default {
    props: {
        data: {
            type: Object,
            default: null
        }
    },

    filters: {
        pluralized: (value, count) => {
            return count <= 0 ? value.slice(0, -1) : value
        }
    }
}

</script>