<template>
    <div v-if="data" class="card-item">
        <div class="card-article-count">
            <img src="/images/icon-file-alt.png" alt=""> 
            <small>{{ data.totalArticle }}</small>
        </div>
        
        <img :src="'/images/' + data.icon + '.png'" :alt="data.title">
        <h3>{{ data.title }}</h3>
        <small>
            Updated <span>{{ data.updatedOn | moment("from", "now") }}</span>
        </small>

        <div class="card-detail">
            <img src="/images/icon-info.png" alt="">
            <p>{{ data.description }}</p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '../scss/_variables.scss';


    .card-item {
        text-align: center;
        background-color: $bg-white;
        border: 1px solid darken($bg-light, 10%);
        border-radius: 4px;
        width: 250px;
        > img { width: 100px; }
        h3 { margin: 0 15px; }
        small { font-size: 0.8rem; color: $text-gray; }
        p { color: $text-gray; }

        .card-article-count {
            display: block;
            text-align: right;
            padding-right: 15px;
            padding-top: 10px;
            img { width: 20px; }
            small {
                bottom: 5px;
                position: relative;
            }
        }

        .card-detail {
            img { width: 20px; }
            border-top: 1px solid darken($bg-light, 10%);
            margin-top: 30px;
            padding: 10px 10px;
        }
    }

</style>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: null
        }
    }
}
</script>