<template>
	<div id="header-wrapper">
		<div id="header-text">
			<h1>Knowledge base doesn't have to be boring</h1>
			<h3>Everything you need to manage your messaging</h3>
		</div>
		<div id="header-search">
			<input type="text" placeholder="Search for answers" @keyup.enter="onSearch" v-model="input_search">
			<button @click="onSearch"><i class="fa fa-search"></i></button>
		</div>
	</div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';

	#header-wrapper {
		text-align: center;
		display: -webkit-flex; /* Safari */
		display: flex;
		flex-direction: column;

		#header-text{
			padding: 20px;

			h1{
				font-style: normal;
				font-weight: bold;
				font-size: 34px;
				line-height: 41px;
			}

			h3{
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 24px;
			}
		}

		#header-search {
			align-self: center;
			width: 700px;
			max-width: 100%;
			display: -webkit-flex; /* Safari */
            display: flex;  
			input {
				background: $bg-white;
				width: 100%;
				padding: 20px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid darken($bg-light, 10%);
				border-radius: 3px 0 0 3px;
				box-sizing: border-box;
			}
			button {
				background-color: $green;
				border: 1px solid $green;
				color: white;
				cursor: pointer;
				margin: 8px 0;
				border-radius: 0 3px 3px 0;
				padding: 10px 30px;
				font-size: 25px;
				&:hover {
					background-color: darken($green, 3%);
				}
			}

			&:after {
				content: "";
				clear: both;
				display: table;
			}
		}
	}
</style>

<script>

export default {

	data: function() {
		return {
			input_search: ''
		}
	},

	methods: {
		onSearch: function () {
			this.$router.push({ path: '/search/' + this.input_search })
		}
	}
}

</script>