<template>
    <div v-if="is_show" class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <h2>{{ title }}</h2>
            </div>
            <div class="modal-body" v-html="body"></div>
            <div class="modal-footer">
                <button @click="onClose">Ok</button>
            </div>
        </div>
    </div>
</template>


<style lang="scss" scoped>
    @import '../scss/_variables.scss';
    .modal-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($text-black, 0.3);
        z-index: 9999;

        .modal-container {
            min-width: 360px;
            max-width: 600px;
            background-color: #fff;
            border: 1px solid $text-gray;
            border-radius: 4px;
            padding-bottom: 20px;

            .modal-header, .modal-body, .modal-footer {
                padding: 0 20px;
            }

            .modal-body {
                max-height: 300px;
                overflow-y: scroll;
                margin: 10px 0;
            }

            .modal-footer button {
                background-color: $green;
                padding: 15px 20px;
                border: none;
                color: $bg-white;
                font-weight: 900;
                text-transform: uppercase;

                &:hover {
                    background-color: darken($green, 5%);
                    cursor: pointer;
                }
            }
        }
    }
</style>

<script>
export default {

    data: () => {
        return {
            is_show: false,
            title: '',
            body: ''
        }
    },

    methods: {
        onClose: function() {
            this.is_show = false
        },

        onShow: function(title = '', body = '') {
            this.title = title
            this.body = body
            this.is_show = true
        }
    }
}
</script>